*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    overflow-x: hidden;
}
:root {
    --grey: #606060;
  }
#root{
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
.header{
    background: #fff;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
    height: 56px;
    width: 100%;
    z-index: 10;
}
.hamburgerCoverCnt{
    display: block;
    z-index: -1;
    background-color: #000;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.header__logo{
   width: 120px;
   cursor: pointer;
   display: block;
   padding:14.5px 9px;
}
.header__menuIcon{
    cursor: pointer;
    font-size: 28px !important;
    margin-right: 25px;
    margin-left: 9px;
}
.miniMenuIcon{
    font-size: 28px !important;
    margin-right: 25px;
    cursor: pointer;
    margin-left: 24px;
}
.header__item{
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.header__item_logo.active{
    display:none;
    margin-right:0px;
}
.searchCnt{
    width: 100%;
    border: 1px solid #ccc;
    max-width: 650px;
    display: flex;
}

.header__searchInput{
    font-size: 16px;
    margin-right: 0.7px;
    padding: 6px;
    width: 100%;
    border: none;
}
.header__searchInput:focus{
    outline-color: #4285f4;
    outline-width: 1px;
    outline-style: solid;
}
.header__searchBox{
    height: 100%;
    background-color: #ccc;
}
.header__rightIcons{
    min-width: 180px;
    margin-left: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searchIcon{
    padding: 3px;
    cursor: pointer;
    width: 65px !important;
    background-color: #f8f8f8;
    border-left: 1px solid #ccc;
    color: #656565;
    height: 32px !important;
}
.header__icon{
    font-size: 25px !important;
    cursor: pointer;
}
.fixedClear{
    padding-top: 56px;
}
.allMarginLeft{
    margin-left: 240px;
    width: calc(100% - 240px);
}
.sidebar{
    width: 240px;
    min-height: calc(100% - 56px);
    position: fixed;
    background-color: #fff;
    z-index: 15;
}
.preSidebarLogo{
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    height: 56px;
    background-color: #fff;
    z-index: 15;
    display: flex;
    align-items: center;
    transition: .3s;
    transform: translateX(-100%);
}
.preSidebarLogo__img{
    padding: 14.5px 9px;
    width: 120px;
    display: block;
}
.sidebar__box{
    display: flex;
    padding: 8px 24px;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.sidebar__box:hover{
    background-color: rgb(242 242 242);
}
.sidebar__icon{
    margin-right: 24px;
    color: #000;
}

.sidebar_Atag{
    text-decoration: none;
}
.sidebar_Atag.sidebarBoxActive .sidebar__box{
    background-color: rgb(229 229 229);
}
.sidebar_Atag.sidebarBoxActive .sidebar__box:hover{
    background-color: rgb(217 217 217) !important;
}
.sidebar_Atag.sidebarBoxActive .sidebar__icon{
    color:#ff0000;
}
.sidebar_Atag.sidebarBoxActive .sidebar__title{
    font-weight: bold;
}
.sidebar__title{
    font-size: 14px;
    color: #000;
    text-decoration: none;
}

.boxWrapper{
    padding-top: 12px;
    margin-top: 12px;
    border-top: 1px solid rgb(229 229 229);
}
.sidebar__info{
    display: inline-block;
    margin-right: 8px;
    font-size: 13px;
    font-weight: bold;
    color: #606060;
}
.sidebar__infoBox{
    padding: 0px 24px;
    margin-bottom: 16px;
}

.miniSidebar{
    min-height: calc(100% - 56px);
    position: fixed;
    background-color: #fff; 
    width: 72px;
    display: none;
}
.miniSidebar__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px 0;
    transition: 0.3s;
}
.miniSidebar__box:hover{
    background-color: rgb(242 242 242);
}
.miniSidebarBoxActive .miniSidebar__box:hover{
    background-color: rgb(217 217 217) !important;
}
.miniSidebarBoxActive .miniSidebar__box{
    background-color: rgb(229 229 229);
}
.miniSidebarBoxActive .miniSidebar__icon{
    color: #ff0000 !important;
}
.miniSidebar__icon{
    color: #000;
}

.miniSidebar__title{
    font-size: 10px;
}
.miniSidebarBoxActive .miniSidebar__title{
    font-weight: bold;
}
.copyrightLabel{
    font-size: 12px;
    color: #909090;
    padding: 0 24px;
    font-weight: bold;
}
.content{
    flex-wrap: wrap;
    display: flex;
}

.content__disableMargin{
    margin-left: 12px;
    width: auto !important;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 22px;
    margin-right: 12px;
}
.content__img{
    display: block;
    width: 100%;
    cursor: pointer;
}
.content__box{
    padding: 8px;
    margin-bottom: 40px;
    cursor: pointer;
    max-width: 360px;
    width: 100%;
    min-width: 222px;
}
.content__img_library{
    display: block;
    width: 100%;
    cursor: pointer;
    height: 100%;
    max-height:116px;
}
.content__box_library{
    padding: 8px;
    margin-bottom: 40px;
    cursor: pointer;
    width: 25%;
    min-width: 222px;
}
.content__details{
    padding-top: 12px;
    padding-right: 24px;
}
.content__title{
    font-size: 14px;
    font-weight: bold;
    color:#000;
    line-height: 20px;
    padding-bottom: 6px;
}
.content__channel{
    color:#606060;
    font-size:14px;
}
.content__views__date{
    color:#606060;
    font-size:14px;
}
.content__flex{
    display: flex;
}
.content__avatar{
    margin-top: 12px;
    margin-right: 12px;
    font-size: 36px !important;
    color: #465a65;
}
.skeleton{
    flex-wrap: wrap;
    display: flex;
}

.skeleton__disableMargin{
    margin-left: 12px;
    width: auto !important;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 22px;
    margin-right: 12px;
}
.skeleton__img{
    display: block;
    width: 100%;
    cursor: pointer;
    background: gainsboro;
    height: 194px;
}
.skeleton__box{
    padding: 8px;
    margin-bottom: 40px;
    cursor: pointer;
    max-width: 360px;
    width: 100%;
    min-width: 222px;
}
.skeleton__img_library{
    display: block;
    width: 100%;
    cursor: pointer;
    height: 100%;
    max-height:116px;
}
.skeleton__box_library{
    padding: 8px;
    margin-bottom: 40px;
    cursor: pointer;
    width: 25%;
    min-width: 222px;
}
.skeleton__details{
    padding-top: 12px;
    padding-right: 24px;
    width: 85%;
}
.skeleton__title{
    font-size: 14px;
    font-weight: bold;
    color:#000;
    line-height: 20px;
    padding-bottom: 6px;
    width: 100%;
    background: gainsboro;
    height: 11px;
}
.skeleton__channel{
    width: 50%;
    background: gainsboro;
    height: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.skeleton__views__date{
    background: gainsboro;
    width: 80%;
    height: 8px;
}
.skeleton__flex{
    display: flex;
}
.skeleton__avatar{
    margin-top: 12px;
    margin-right: 12px;
    width: 36px;
    height: 36px;
    background-color: gainsboro;
    border-radius: 50%;
}
.iframe{
    width: 100%;
    max-width: 980px;
    margin-left: 25px;
    overflow: hidden;
}
.iframe__container{
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%;
}
.iframe__video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

video{
    width: 100% !important;
    position: absolute;
    top: 0;
    height: 100%;
}
.currentVideoFlex{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.related{
    min-width: 116px;
}
.relatedFlex{
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;
}
.relatedCnt{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 10px;
}
.relatedFlex__img img{
    display: block;
    margin-right: 8px;
}
.related__title{
    font-size: 14px;
    font-weight: bold;
    color:#000;
    line-height: 20px;
    padding-bottom: 6px;
}
.related__channel{
    color:#606060;
    font-size:12px;
}
.related__views__date{
    color:#606060;
    font-size:12px;
}
.skeletonFlex{
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;
}
.skeletonFlex__img div{
    height: 95px;
    width: 168px;
    margin-right: 8px;
    background: gainsboro;
}
.skeletonRelated{
    min-width: 116px;
}
.skeletonRelated__title{
    height: 7px;
    background: gainsboro;
    margin-top: 7px;
}
.skeletonRelated__channel{
    height: 5px;
    background: gainsboro;
    margin-top: 6px;
    width: 90%;
}
.skeletonRelated__views__date{
    width: 70%;
    height: 4px;
    background: gainsboro;
    margin-top: 5px;
}
.iframe__details{
    padding-top: 20px;
    padding-bottom: 8px;
}
.iframe__title{
    font-size: 18px;
}
.iframe__views__date{
    font-size: 14px;
    color: #606060;
    padding-top: 10px;
}
.iframe__flex{
    display: flex;
    border-bottom: 1px solid rgb(224 224 224);
    justify-content: space-between;
    min-width: 460px;
    overflow: hidden;
}
.iframe__rate__cnt{
    width: 100%;
    max-width: 380px;
    align-self: end;
    display: flex;
}
.iframe__thumb__flex{
    display: flex;
    border-bottom: 2px solid #030303;
    max-width: 144px;
    padding: 0 10px;
    padding-bottom: 10px;
    justify-content: space-between;
}
.iframe__thumbCnt{
    display: flex;
    align-items: center;
}
.iframe__thumb{
    margin-right: 7px;
    font-size: 23px !important;
    cursor: pointer;
}
.iframe__thumbCnt span{
    font-size: 14px;
}
.iframe__thumb.active{
    color:#057ad7 !important;
}
.currentDetails{
    padding-bottom: 50px;
}
.currentDetails__avatarCnt{
    margin-top: 12px;
    display: flex;
}
.currentDetails__avatar{
    margin-right: 12px;
    font-size: 36px !important;
    color: #465a65;
}
.currentDetails__sub{
    color: #606060;
    font-size: 12px;
}
.currentDetails__channel{
    font-size: 14px;
    font-weight: bold;
}
.currentDetails__description{
    letter-spacing: 0.3px;
    margin-top: 10px;
    font-size: 14px;
}
.currentDetails__show{
    cursor: pointer;
    padding-top: 10px;
    color: #606060;
    font-size: 13px;
    font-weight: bold;
    display: inline-block;
}

.search{
    padding: 0 24px;
    padding-top: 50px;
}
.search__wrap{
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
}
.search__img img{
    width: 100%;
    height: 100%;
    position: absolute;
}
.search__img{
    max-width: 360px;
    width: 100%;
    height: 202px;
    position: relative;
    min-width: 240px;
}
.search__title{
    color: #030303;
    font-size: 18px;
}
.search__channel{
    font-size: 12px;
    color:#606060;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.search__details{
    padding-left: 16px;
    overflow: hidden;
    white-space: nowrap;
}
.search__desc{
    font-size: 12px;
    color:#606060;
}
.search__view{
    font-size: 12px;
    color:#606060;
    padding-bottom: 5px;
}
.search__avatar{
    margin-right: 8px;
    font-size: 24px !important;
    color: #465a65;
}
.shareIcon{
    transform: rotateY(-180deg);
    margin-right: 5px;
}
.iframe__shareCnt{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.iframe__save{
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-left: 15px;
    cursor: pointer;
}
.iframe__save.active .saveIcon{
    color: #03a9f4 !important;
}
.saveIcon{
    margin-right: 5px;
}
.saveIcon.active{
    color: #057ad7 !important;
}
.modalCnt{
    position: fixed;
    bottom: 45px;
    left: 25px;
    overflow: hidden;
    z-index: -1;
}
.modal{
    transition: .5s;
    opacity: 0;
    transform: translateY(100%);
    background: #4a4646;
    width: 240px;
    padding: 16px 24px;
    color: #fff;
}
.sidebarListCnt{
    max-width: 900px;
    padding-top: 16px;
    margin: auto;
}
.listComponent{
    display: flex;
    max-height: 105px;
    padding: 16px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid rgb(216 216 216);
    transition: .3s;
    cursor: pointer;
}
.listComponent:hover{
    background-color: rgb(229 229 229);
}
.listComponent__img{
    width: 130px;
}
.listComponent__details{
    margin-left: 5px;
    width: 100%;
}
.listComponent__channel{
    color:#606060;
    font-size: 12px;
}
.listComponent__title{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}
.listComponent__delete{
    align-self: center;
    cursor: pointer;
    transition: .3s !important;   
}
.listComponent__delete:hover{
    color: #ff0000;
}

.sideWrapper{
    background-color:#f9f9f9;
    min-height: 100vh;
}
.currentCover{
    top: 0;
    position: absolute;
    z-index: 12;
    width: 100%;
    height: 100%;
}
.currentCover__bckg{
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.3s;
}
.currentCover__modal{
    background: #fff;
    width: 185px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
}
#watchLaterLabel{
    font-size: 15px;
    cursor: pointer;
    user-select: none;
}
#watchLater{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.currentCover__modal_flex{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 22px;
    cursor: pointer;
}
.currentCover__modal_close{
    text-align: right;
    font-weight: bold;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(229 229 229);
}
.closeModal{
    cursor: pointer;
}
.noListComponent{
    font-weight: bold;
    padding: 0px 10px;
    text-align: center;
}
.libaryCnt{
    max-width: 900px;
    padding-top: 16px;
    margin: auto;
}
.libaryFlexTitle{
    display: flex;
    margin-left: 20px;
    margin-bottom: 22px;
    margin-top: 22px;
    align-items: center;
}
.libaryTitle{
    font-weight: bold;
    margin-left: 16px;
    font-size: 16px;
}
.collectionLength{
    color: var(--grey);
    margin-left: 8px;
    font-size: 14px;
}
.noLibrary{
    padding-bottom: 22px;
    border-bottom: 1px solid #e0e0e0;
    margin-left: 20px;
    margin-right: 20px;
}
.exploreCnt{
    margin: auto;
    padding-left: 20px;
    max-width: 1284px;
}
.exploreTabs{
    padding-top: 12px;
    display: flex;
    flex-wrap: wrap;
}
.exploreTabs__box{
    width: 210px;
    height: 116px;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 4px;
    margin-top: 4px;
    transition: .3s;
    cursor: pointer;
}
.exploreTabs__box:hover{
    background-color: rgb(229 229 229);
}
.exploreTabs__box_active{
    background-color: rgb(229 229 229);
}
.exploreTabs__img{
    margin:20px 20px 4px 20px;
    font-size: 32px !important;
}
.exploreTabs__img_fire{
    color: #fc0d1b;
}
.exploreTabs__img_note{
    color: #edaf00;
}
.exploreTabs__img_gaming{
    color: #fd6821;
}
.exploreTabs__img_sports{
    color: #79ff79;
}

.exploreTabs__title{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin: 0 20px 12px 20px;
}
.exploreVideo{
    padding-top: 60px;
}
.exploreVideo__wrap{
    display: flex;
    margin-bottom: 15px;
    cursor: pointer;
}
.exploreVideo__img{
    max-width: 360px;
    min-width: 360px;
    width: 100%;
    max-height: 202px;
}
.exploreVideo__img img{
    width: 100%;
    min-width: 240px;
    height: 100%;
}
.exploreVideo__details{
    padding-left: 16px;
}
.exploreVideo__title{
    color: #030303;
    font-size: 18px;
}
.exploreVideo__view{
    font-size: 12px;
    color:#606060;
    padding-bottom: 5px;
}
.exploreVideo__channel{
    font-size: 12px;
    color:#606060;
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}
.exploreVideo__desc{
    font-size: 12px;
    color:#606060;
}
.exploreVideo__header{
    font-weight: bold;
    padding-bottom: 25px;
    font-size: 15px;
}
.MuiSvgIcon-root.smallSearchIcon{
    cursor: pointer;
    display: none;
}
.MuiSvgIcon-root.smallSearchIcon.active{
    display: none !important;
}

.arrowBackIcon{
    display: none !important;
    cursor: pointer;
    margin-right: 5px;
}
.arrowBackIcon.active{
    display: block !important;
}
@media screen and (max-width: 1310px){
.sidebar{
    transform: translateX(-100%);
}
.miniSidebar{
    display: block;
}

}

@media screen and (max-width: 1319px){
    .homeCnt{
        max-width: 720px;
        width: 100%;
        margin: auto;
    }
}
@media screen and (max-width: 900px){
    .currentVideoFlex {
        display: flex;
        flex-direction: column;
    }
    .currentDetails{
        padding-bottom: 25px;
        margin-bottom: 25px;
        border-bottom: 1px solid #e0e0e0;
    }
    .iframe{
        margin-left: 0;
        padding: 0px 25px;
    }
    .relatedCnt{
        margin: 0 25px;
    }
}
@media screen and (max-width: 807px){
    .homeCnt{
        max-width: 360px;
    }
}
@media screen and (max-width: 768px){
    .header__rightIcons{
        display: none;
    }
    .miniSidebar{
        display: none;
    }
    .exploreVideo__img{
        min-width: unset;
        max-height: 177px;
    }
    .exploreVideo{
        padding-right: 20px;
    }
}
@media screen and (max-width: 661px){
    .exploreTabs{
        justify-content: center;
    }
}

@media screen and (max-width: 510px){
    .exploreVideo__details{
        display: none;
    }
    .exploreVideo__header{
        text-align: center;
    }

    .exploreVideo__wrap{
        justify-content: center;
    }

    .listComponent{
        padding: 16px 0;
    }
    .searchCnt{
        display: none;
    }
    .MuiSvgIcon-root.smallSearchIcon{
        display: block !important;
    }
}
@media screen and (max-width: 420px){
    .search__wrap{
        flex-direction: column;
    }
    .search__details{
        padding-left: 0;
    }
    .search__title{
        font-size: 16px;
        padding-top: 5px;
    }

}
@media screen and (max-width: 420px){
    .search__img{
        min-width: 220px;
    }
}
@media screen and (max-width: 345px){
    .listComponent__title{
        font-size: 15px;
    }
}